<a href="{% url 'index' %}">На главную</a>
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  {% load static %}
  <link rel="icon" href= "{% static 'favicon.ico' %}">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  <meta name="description" content="Доставка цветов СПБ"/>
  <link rel="apple-touch-icon" href="static/logo192.png"/>
  <link rel="manifest" href="static/manifest.json"/>
  <link rel="stylesheet" href="static/styles/normalize.css"/>
  <title>Доставка цветов</title>
  <link href="static/css/main.chunk.css" rel="stylesheet">
  <link href="static/css/main.chunk.css" rel="stylesheet">
</head>
<body>
<script src="static/js/2.chunk.js"></script>
<script src="static/js/main.chunk.js"></script>
</body>
</html>