{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
    {% for flower in flowers_list %}
    <h3>
        Букет: {{ flower.name }}, 
        Описание: {{ flower.description }}
        Цена: {{ flower.price }}, 
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %} 